# pgbackweb environment configuration
PBW_POSTGRES_CONN_STRING=postgresql://{{ postgres_user }}:{{ postgres_password }}@{{ pgbackweb_postgres_host }}:{{ pgbackweb_postgres_port }}/{{ pgbackweb_postgres_database }}?sslmode=disable
PBW_ENCRYPTION_KEY={{ pgbackweb_encryption_key }}
PBW_LISTEN_HOST=0.0.0.0
PBW_LISTEN_PORT=8085
TZ=UTC