# pgpool-II client authentication configuration file
# TYPE  DATABASE    USER        ADDRESS                 METHOD

# Allow local connections
local   all         all                                 scram-sha-256
host    all         all         127.0.0.1/32            scram-sha-256
host    all         all         ::1/128                 scram-sha-256

# Allow connections from Tailscale network
host    all         all         {{ network_ranges.tailscale }}           scram-sha-256

# Allow connections from Docker default bridge network
host    all         all         {{ network_ranges.docker_default }}           scram-sha-256

# Allow connections from Docker custom networks
host    all         all         {{ network_ranges.docker_custom_1 }}           scram-sha-256
host    all         all         {{ network_ranges.docker_custom_2 }}           scram-sha-256
host    all         all         {{ network_ranges.docker_custom_3 }}           scram-sha-256

# Reject all other connections
host    all         all         0.0.0.0/0               reject
host    all         all         ::/0                    reject