---
import SubscribeButton from "./SubscribeButton.svelte";
---

<div
  class="flex w-full flex-col items-center justify-between gap-8 px-2 py-10 lg:flex-row"
>
  <a
    href="/"
    class="py-auto flex h-14 flex-row items-center justify-center rounded-lg bg-dark px-4"
  >
    <img
      width={285}
      height={56}
      src="/assets/web/logo-lettering.svg"
      alt="proposals.app"
    />
  </a>

  <div class="flex w-fit justify-center">
    <SubscribeButton client:load />
    <!-- <Suspense>
      {!user && <SubscribeButton />}
      {user && <SettingsButton />}
      {user && user.email_verified == false && (
        <VerificationModal email={user.email} />
      )}
    </Suspense> -->
  </div>
</div>
