---
import { cn } from "@/lib/utils";
import { Button } from "@/components/ui/button";
---

<Button
  className={cn(
    `block h-10 w-full rounded-lg border-2 border-gold bg-luna text-center text-gold hover:bg-dark lg:h-14`,
  )}
>
  <div class="text-2xl leading-5">subscribe</div>
</Button>
