@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));
@config '../tailwind.config.mjs';

@layer utilities {
  /* Default Theme (when data-theme is null) */
  :root:not([data-theme]) {
    --for-400: #87ff42;
    --for-600: #56b200;
    --abstain-400: #ffdc42;
    --abstain-600: #ffbc1f;
    --against-400: #ff5842;
    --against-600: #ff4242;
    --neutral-50: #f9fafb;
    --neutral-100: #f4f5f6;
    --neutral-200: #e1e6e9;
    --neutral-300: #ced6da;
    --neutral-350: #b3bfc6;
    --neutral-400: #96a6b0;
    --neutral-450: #80949f;
    --neutral-500: #637783;
    --neutral-550: #566771;
    --neutral-600: #47555d;
    --neutral-650: #414e56;
    --neutral-700: #374249;
    --neutral-800: #21272b;
    --neutral-900: #14181a;
    --neutral-950: #0d1011;
    --brand-accent: #12aaff;
    --brand-accent-bright: #12aaff;
    --brand-accent-darker: #0088cc;
  }

  /* Arbitrum Theme */
  [data-theme='arbitrum'] {
    --for-400: #87ff42;
    --for-600: #56b200;
    --abstain-400: #ffdc42;
    --abstain-600: #ffbc1f;
    --against-400: #ff5842;
    --against-600: #ff4242;
    --neutral-50: #f9fafb;
    --neutral-100: #f4f5f6;
    --neutral-200: #e1e6e9;
    --neutral-300: #ced6da;
    --neutral-350: #b3bfc6;
    --neutral-400: #96a6b0;
    --neutral-450: #80949f;
    --neutral-500: #637783;
    --neutral-550: #566771;
    --neutral-600: #47555d;
    --neutral-650: #414e56;
    --neutral-700: #374249;
    --neutral-800: #21272b;
    --neutral-900: #14181a;
    --neutral-950: #0d1011;
    --brand-accent: #12aaff;
  }

  /* Optimism Theme */
  [data-theme='optimism'] {
    --for-400: #87ff42;
    --for-600: #56b200;
    --abstain-400: #ffdc42;
    --abstain-600: #ffbc1f;
    --against-400: #ff5842;
    --against-600: #ff4242;
    --neutral-50: #fbf9f9;
    --neutral-100: #f6f4f4;
    --neutral-200: #e9e1e2;
    --neutral-300: #dacecf;
    --neutral-350: #c6b3b6;
    --neutral-400: #b09699;
    --neutral-450: #9f8084;
    --neutral-500: #836366;
    --neutral-550: #715659;
    --neutral-600: #5d4749;
    --neutral-650: #564143;
    --neutral-700: #493739;
    --neutral-800: #2b2122;
    --neutral-900: #1a1415;
    --neutral-950: #110d0e;
    --brand-accent-bright: #ff0522;
    --brand-accent-darker: #ff0522;
  }

  /* Safe Theme */
  [data-theme='safe'] {
    --for-400: #87ff42;
    --for-600: #56b200;
    --abstain-400: #ffdc42;
    --abstain-600: #ffbc1f;
    --against-400: #ff5842;
    --against-600: #ff4242;
    --neutral-50: #f9fbfa;
    --neutral-100: #f4f6f5;
    --neutral-200: #e1e9e5;
    --neutral-300: #cedad4;
    --neutral-350: #b3c6bc;
    --neutral-400: #96b0a2;
    --neutral-450: #809f8f;
    --neutral-500: #638371;
    --neutral-550: #567163;
    --neutral-600: #475d51;
    --neutral-650: #41564a;
    --neutral-700: #37493f;
    --neutral-800: #212b26;
    --neutral-900: #141a17;
    --neutral-950: #0d110f;
    --brand-accent-bright: #12ff80;
    --brand-accent-darker: #00b460;
  }

  /* Polygon Theme */
  [data-theme='polygon'] {
    --for-400: #87ff42;
    --for-600: #56b200;
    --abstain-400: #ffdc42;
    --abstain-600: #ffbc1f;
    --against-400: #ff5842;
    --against-600: #ff4242;
    --neutral-50: #faf9fb;
    --neutral-100: #f5f4f6;
    --neutral-200: #e4e1e9;
    --neutral-300: #d3ceda;
    --neutral-350: #bbb3c6;
    --neutral-400: #a096b0;
    --neutral-450: #8d809f;
    --neutral-500: #6f6383;
    --neutral-550: #615671;
    --neutral-600: #50475d;
    --neutral-650: #494156;
    --neutral-700: #3e3749;
    --neutral-800: #25212b;
    --neutral-900: #16141a;
    --neutral-950: #0f0d11;
    --brand-accent-bright: #6600ff;
    --brand-accent-darker: #36007b;
  }
}

@layer base {
  body {
    @apply bg-neutral-50 dark:bg-neutral-900;
  }
}

.prose .diff-deleted {
  @apply border border-red-300 bg-red-100 line-through dark:border-red-800 dark:bg-red-900/50;
}

.prose .diff-deleted * {
  @apply border-none bg-red-200 dark:bg-red-900/70;
}

.prose .diff-added {
  @apply border border-emerald-300 bg-emerald-100 no-underline dark:border-emerald-800 dark:bg-emerald-900/50;
}

.prose .diff-added * {
  @apply border-none bg-emerald-200 dark:bg-emerald-900/70;
}

/* Modified styles with dark theme support */
.prose .diff-modified,
.prose .diff-modified * {
  @apply border! border-amber-400! bg-amber-100! dark:border-amber-800! dark:bg-amber-900/50!;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
