---
import "@/styles/global.css";
import Layout from "../layouts/Layout.astro";
import Filters from "../components/home/filters/Filters.astro";
---

<Layout title="proposals.app">
  <main>
    <div class="flex flex-col gap-2">
      <Filters />
    </div>
  </main>
</Layout>
