---
import "@/styles/global.css";
import MainLayout from "../layouts/MainLayout.astro";
import Filters from "../components/home/filters/Filters.astro";
import Table from "../components/home/table/Table.astro";
---

<MainLayout title="proposals.app">
  <main>
    <div class="flex flex-col gap-2">
      <Filters />
      <Table />
    </div>
  </main>
</MainLayout>
