---
import { getProposals, StateFilterEnum } from "@/lib/db/getProposals";

export const prerender = true;

const state = Astro.url.searchParams.get("state") || "open";
const daos = Astro.url.searchParams.getAll("dao") || [""];

const proposals = await getProposals(state as StateFilterEnum, daos, 0);
---

<div>
  <div>
    <h2>DAOs</h2>
    <ul class="flex flex-col gap-2">
      {
        proposals.map((proposal) => (
          <li class="break-words">{JSON.stringify(proposal)}</li>
        ))
      }
    </ul>
  </div>
</div>
