---
export const prerender = false;

const state = Astro.url.searchParams.get("state") || "";
const daos = Astro.url.searchParams.getAll("dao") || [];
---

<div>
  <div>
    <h2>DAOs</h2>
    <ul>
      {daos.map((item) => <li>{item}</li>)}
    </ul>
  </div>
  <div>
    <h2>State</h2>
    <p>{state}</p>
  </div>
</div>
