---
import "@/styles/global.css";
import MainLayout from "../layouts/MainLayout.astro";
import Filters from "../components/home/filters/Filters.astro";
import ListContainer from "../components/home/proposals/ListContainer.astro";
---

<MainLayout title="proposals.app">
  <main>
    <div class="flex flex-col gap-2">
      <Filters />
      <ListContainer />
    </div>
  </main>
</MainLayout>
