---
import "@/styles/global.css";
import Layout from "../layouts/SettingsLayout.astro";
---

<Layout title="proposals.app">
  <main>
    <div class="flex flex-col gap-2">settings</div>
  </main>
</Layout>
